.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.one {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: 0 0;
  display: inline-block;
}

.two {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -30px 0;
  display: inline-block;
}

.three {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -60px 0;
  display: inline-block;
}

.four {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -90px 0;
  display: inline-block;
}

.five {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -120px 0;
  display: inline-block;
}

.six {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -150px 0;
  display: inline-block;
}

.seven {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -180px 0;
  display: inline-block;
}

.eight {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -210px 0;
  display: inline-block;
}

.nothing {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.redbomb {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -300px 0;
  display: inline-block;
  background-color: red;
}

.bomb {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -300px 0;
  display: inline-block;
}

.nopush {
  width: 30px;
  height: 30px;
  border-left: 3px ridge #fff;
  border-top: 3px ridge #fff;
  border-right: 3px (199, 199, 199) #fff;
  border-bottom: 3px (199, 199, 199) #fff;
}

.flag {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -270px 0;
  display: inline-block;
}

.question {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -240px 0;
  display: inline-block;
}

.smile {
  border: 1px ridge black;
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -330px 0;
  display: inline-block;
  box-shadow: 0 2px 0 gray;
}

.cool {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -360px 0;
  display: inline-block;
  box-shadow: 0 2px 0 gray;
  border: 1px ridge black;
}

.dead {
  background: url('../../assets/images/icons.png');
  width: 30px;
  height: 30px;
  background-position: -390px 0;
  display: inline-block;
  box-shadow: 0 2px 0 gray;
  border: 1px ridge black;
}

.plate {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  height: 288px;
  background-color: #aaa;
  text-align: center;
  border-right: 9px ridge rgb(230 230 230);
  border-bottom: 9px ridge rgb(230 230 230);
  border-left: 9px ridge black;
  border-top: 9px ridge black;
  margin-left: 8px;
}

.plate2 {
  display: flex;
  flex-wrap: wrap;
  width: 305px;
  height: 315px;
  background-color: #aaa;
  text-align: center;
  border-left: 5px outset rgb(230 230 230);
  border-right: 5px outset rgb(184 180 180);
  border-bottom: 5px outset rgb(184 180 180);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: #aaa;
}

.cell {
  width: 30px;
  height: 30px;
  border: 2px ridge #000;
}

.nopush:hover {
  box-shadow: none;
  transform: translateY(2px);
}

.reset {
  margin-left: 70px;
  margin-top: 18px;
  position: center;
  width: 30px;
  height: 30px;
}

.smile:active {
  box-shadow: none;
  transform: translateY(2px);
}

.dead:active {
  box-shadow: none;
  transform: translateY(1px);
}

.cool:active {
  box-shadow: none;
  transform: translateY(2px);
}

.plateup {
  width: 305px;
  height: 60px;
  background-color: #aaa;
  border-left: 5px outset rgb(230 230 230);
  border-top: 5px outset rgb(230 230 230);
  border-right: 5px outset rgb(184 180 180);
}

/* .hoge {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png');
  background-size: 125px 50px;
  background-repeat: no-repeat;
} */

/* .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer > a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
} */

/* .title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.title > a {
  color: #0070f3;
  text-decoration: none;
}

.title > a:hover,
.title > a:focus,
.title > a:active {
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.code {
  padding: 0.75rem;
  font-family: Menlo, 'Monaco, Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (width <= 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.card {
  width: 45%;
  padding: 1.5rem;
  margin: 1rem;
  color: inherit;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card > h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card > p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
} */
